:root{
  --accent: #BA6FEC;
  --dark: #161921;
  --transparent_dark: rgba(22, 25, 33,.8);
  --empty: rgba(22, 25, 33,0);

}

html{
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--dark);
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  text-align: right;
  background-color: var(--accent);
}
.sticky {
  position: fixed;
  /*background-color: var(--transparent_dark);*/
  /*background: linear-gradient(var(--dark), var(--empty));*/
  top: 0;
  width: 100%;
  height:20%;
}
.headerSpacer {
  top: 0;
  width: 100%;
  height:100%;
}

.general{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.sidenav {
  height: 84%; /* 100% Full-height */
  width: 15%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  bottom: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
}
  
  /* The navigation menu links */
.sidenav h3 {
  padding-left: 10%;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav p {
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  padding: 0;
  margin: 0;
}

.recipeViewer{
  text-align: center;
}

.filterCheckBox {
  height: 25px;
  width: 25px;
  accent-color: var(--accent);
}

.filterTable td {
  border-collapse: collapse;
  padding: 0; 
  padding-left: 20px;
  margin: 0;
}
  
.introduction{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
  margin-top: 10%;
}

.headers{
  margin-top: 10%;
}
.contact input,textarea {
  border: 2px solid var(--dark);
  border-radius: 4px;
}

.recipeCard{
  width:60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
  border-radius: 10px;
}

.recipeButton{
  background-color: transparent;
  color: #BA6FEC;
  border: 2px solid #BA6FEC; /* Green */
  font-size: 20px;
  padding: 10px 16px;
  
  border-radius: 10px;
}
.recipeButton:hover {
  background-color: #BA6FEC; /* Green */
  color: #161921;
}

.contact{
  border-radius: 10px;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10%;
  
}
.about{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
}

.header_logo{
  height:50px;
  padding: 32px 16px;
}

.header_button{
  font-family:sans-serif;
  background-color: var(--more_dark);
  border: none;
  font-size: 20px;
  padding: 32px 16px;
  cursor: pointer;
}
.header_button:hover{
  color: #BA6FEC;
}

.introduction_button{
  font-family:sans-serif;
  background-color: #161921;
  color: #BA6FEC;
  border: 4px solid #BA6FEC; /* Green */
  font-size: 30px;
  padding: 32px 16px;
  border-radius: 20px;
}

.introduction_button_td {
  padding: 25px;
  font-family:sans-serif;
  display: inline-block;

}

.introduction_button:hover {
  background-color: #BA6FEC; /* Green */
  color: #161921;
}
.introduction_td{
  padding: 0px;
  font-family:sans-serif;
  display: block;
  
}
tr.introduction{
  padding: 0px;
  text-align: center;
  vertical-align: middle;
}
.introduction_p{
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0px;
}

table.introduction {
  border-collapse: collapse;
  
}

.table{
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}

.error_text{
  font-family: Sans-serif;
  color: red;
  text-align: center; 
}

.basic_text{
  font-family: Sans-serif;
}

.button{
  border-radius: 8px;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  width: 100px;
  height: 30px;
  font-family: Sans-serif;
  
  
  margin: 0;
  position: absolute;
  text-align: center;  
  
}

.input{
  margin-left: auto;
  margin-right: auto;
  font-family: Sans-serif;
}

.login{
  background-color: var(--primary);
  width: 350px;
  height: 200px;
  border-radius: 15px;

  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}


.global-div{
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
}